<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.cdwoo.core.dao.CustomDao">
  <resultMap type="com.cd.cdwoo.user.entity.User" id="UserResultMap">
  	<id column="id" property="id"/>
  	<result column="realName" property="realName"/>
  	<result column="email" property="email"/>
  	<result column="phoneNo" property="phoneNo"/>
  	<result column="nickName" property="nickName"/>
  	<result column="age" property="age"/>
  	<result column="gender" property="gender"/>
  </resultMap>
  <select id="getList" resultType = "java.util.HashMap">
<!--   	select * from cdwoo_user where realName = #{param1} -->
  	select * from cdwoo_user where age in (${param1})
  </select>
  
  <select id="getUserById" resultMap = "UserResultMap">
  	select * from cdwoo_user where id = #{userId}
  </select>
 </mapper>
 
