<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.cdwoo.user.dao.UserDao">
  <insert id="addUser"  parameterType="com.cd.cdwoo.user.entity.User">
    insert into cdwoo_user
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="realName != null" >
          realName,
        </if>
        <if test="email != null" >
          email,
        </if>
        <if test="age != null" >
          age,
        </if>
        <if test="phoneNo != null" > 
          phoneNo,
        </if>
        <if test="nickName != null" >
          nickName,
        </if>
        <if test="gender != null" >
          gender,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="realName != null" >
          #{realName,jdbcType=VARCHAR},
        </if>
        <if test="email != null" >
          #{email},
        </if>
        <if test="age != null" >
          #{age},
        </if>
        <if test="phoneNo != null" >
          #{phoneNo},
        </if>
        <if test="nickName != null" >
          #{nickName},
        </if>
        <if test="gender != null" >
          #{gender},
        </if>
      </trim>
  </insert>
 </mapper>
 
